fastapi
uvicorn[standard]
pydantic
pandas
numpy
scikit-learn
catboost
pyarrow
requests
kagglehub
transformers
datasets
cvxpy
seaborn
#pip install torch==2.8.0+cu128 torchvision==0.23.0+cu128 torchaudio==2.8.0+cu128 --index-url https://download.pytorch.org/whl/cu128